<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripciom</th>
                    <th scope="col">Prioridad</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha de expiracion</th>
                    <th scope="col">Acciones</th>

                  </tr>
                </thead>
                <tbody>
                  
                 <tr  *ngFor="let task of taskList">
                  <ng-container *ngIf ="!task.isDelete">
                    <th scope="row">{{task.id}}</th>
                    <td>{{task.name}}</td>
                    <td>{{task.description}}</td>
                    <td [ngClass]="{'table-danger': task.priority == 'H', 'table-warning': task.priority =='M','table-success':task.priority=='L'}" [ngSwitch]="task.priority">
                      <span *ngSwitchCase="'H'">Alta</span>
                      <span *ngSwitchCase="'M'">Media</span>
                      <span *ngSwitchCase="'L'">Baja</span>
                    </td>
                    <td [ngClass]="{'table-danger': task.status == 'P', 'table-warning': task.status =='IP','table-success':task.status=='C'}"  [ngSwitch]="task.status">
                      <span *ngSwitchCase="'C'">Completada</span>
                      <span *ngSwitchCase="'IP'">En Proceso</span>
                      <span *ngSwitchCase="'P'">Pendiente</span>
                    </td>
                    <td>{{task.expirationDate}}</td>
                    <td>iconos</td>
                  </ng-container>
                 </tr>
                  
                  
                </tbody>
              </table>
        </div>
    </div>
</div>