<div class="row">
    <div class="col-md-12">
        <form [formGroup]="formTaskEdit" (ngSubmit)="onSubmit()">

            <!-- Nombre -->
            <div class="form-group">
                <label for="exampleFormControlInput1">Nombre</label>
                <input type="text" class="form-control" formControlName="name" id="exampleFormControlInput1"

                [ngClass]="{'is-valid': formTaskEdit.get('name')?.valid && formTaskEdit.get('name')?.touched,'is-invalid': formTaskEdit.get('name')?.invalid && formTaskEdit.get('name')?.touched}">
                <div class="invalid-feedback" *ngIf="formTaskEdit.get('name')?.invalid && formTaskEdit.get('name')?.touched">
                    <small *ngIf="formTaskEdit.get('name')?.errors?.['required']"> Please choose a username.</small>
                    <small *ngIf="formTaskEdit.get('name')?.errors?.['maxlength']"> Demasiado Largo.</small>
                    <small *ngIf="formTaskEdit.get('name')?.errors?.['minlength']"> Demasiado corto</small>

                </div>
            </div>
           
              


            <!-- Descripcion -->
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Descripcion</label>
                <textarea class="form-control" 
                    formControlName="description" id="exampleFormControlTextarea1" rows="10"></textarea>

            </div>
            <!-- Prioridad -->
            <div class="form-group">
                <label for="exampleFormControlSelect1">Prioridad</label>
                <select  class="form-control"
                    formControlName="priority" id="exampleFormControlSelect1">
                    <option value="H">Alta</option>
                    <option value="M">Media</option>
                    <option value="L">Baja</option>
                </select>

                
            </div>

            <!-- Fecha de expiracion -->
            <div class="form-group">
                <label for="exampleFormControlSelect2">Fecha expiracion</label>
                <input type="datetime-local" formControlName="expirationDate"
                [ngClass]="{'is-valid': formTaskEdit.get('name')?.valid && formTaskEdit.get('name')?.touched,'is-invalid': formTaskEdit.get('name')?.invalid && formTaskEdit.get('name')?.touched}" class="form-control"
                    id="exampleFromcontrolInput">
                
                    <div class="invalid-feedback" *ngIf="formTaskEdit.get('name')?.invalid && formTaskEdit.get('name')?.touched">
                        <small *ngIf="formTaskEdit.get('name')?.errors?.['required']"> Please choose a username.</small>
                        <small *ngIf="formTaskEdit.get('name')?.errors?.['maxlength']"> Demasiado Largo.</small>
                        <small *ngIf="formTaskEdit.get('name')?.errors?.['minlength']"> Demasiado corto</small>
    
                    </div>
            </div>
            <br><br><button class="btn btn-primary" type="submit">Guardar Cambios</button>
        </form>
    </div>
</div>